{% extends "tweet/template_base.html" %}

{%  block content %}
<h1>Home</h1>


<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit">
</form>

<div>
    {% for tweet in tweets %}
        <div style="margin-top: 5px;">
        <span style="font-weight: bold;">
            {{ tweet.user.first_name }} {{ tweet.user.last_name }}
            @{{ tweet.user.username }}
        </span>
            <span style="font-size: 0.8em">{{ tweet.post_date }}</span>
            <br>{{ tweet.content }}
        </div>
    {% endfor %}
</div>
{%  endblock %}