{% extends "tweet/template_tweets.html" %}



{%  block tweets_top %}

<div class="row">
<div class="col-12 border p-2">
<h3>Home</h3>
</div>
</div>

<div class="row border pb-2">
    <div class="col-1 pt-3">
        <img class="rounded-circle" src="https://picsum.photos/id/1005/50">
    </div>
    <div class="col-11">
    <form method="post" action="" class="pl-3 pt-2" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="text-right">
        <button type="submit" class="btn btn-outline-primary">Tweet</button>
        </div>
    </form>
    </div>
</div>

{%  endblock %}