<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter Clone</title>
</head>
<body>
    <h1>Twitter</h1>
    <a href="{% url 'logout'%}">Logout</a>

    <form method="post" action="">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>

    <div>
        {% for tweet in tweets %}
            <div style="margin-top: 5px;">
                <span style="font-weight: bold;">
                    {{ tweet.user.first_name }} {{ tweet.user.last_name }}
                    @{{ tweet.user.username }}
                </span>
                <span style="font-size: 0.8em">{{ tweet.post_date }}</span>
                <br>{{ tweet.content }}
            </div>
        {% endfor %}
    </div>
</body>
</html>