<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Profile {{ username }}</h1>

    <div>
        {% for tweet in tweets %}
            <div style="margin-top: 5px;">
                <span style="font-weight: bold;">
                    {{ tweet.user.first_name }} {{ tweet.user.last_name }}
                    @{{ tweet.user.username }}
                </span>
                <span style="font-size: 0.8em">{{ tweet.post_date }}</span>
                <br>{{ tweet.content }}
            </div>
        {% endfor %}
        {% if error != "" %}
            <div style="color: red;">{{ error }}</div>
        {% endif %}
    </div>

</body>
</html>